
*{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    overflow-x: hidden;
}









.banner{
    width: 100%;
    font-size: 1.6rem;
    justify-content: space-between;
    background-color: #087ceb;
    height: 19rem;
    color: white;
    font-weight: bolder;
    h2,h4,h5{
        padding: 10px;
        text-align: center;
    }
    h2{
        font-size: 2.5em;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: 1em;
    }
}



.innerPage{
    font-size: 1.6rem;
}

.postCard{
    margin: 3rem auto;
    width: 60%;
    border: 2px solid #2469aa;
    align-items: stretch;
    position: relative;

    h5{
        font-size:1.5em;
        text-align: center;
    }

    h4{
        font-size: 1.8em;
        color: white;
        font-family: 'Arial Black';
        font-weight: bolder;
        width: 100%;
        text-align: center;
        background-color: #2469aa;
        line-height: 40px;
    }

    .inner-card-body{
        width: 100%;
        padding-bottom: 4rem;
    }
    header{
        font-weight: bolder;
        padding: 0 20px;
    }
    .dev-icon{
        font-weight: bolder;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1px solid #087ceb;
        font-size: 2em;
    }
    header .dev-icon{
        font-size: 3.5em;
        width: 8rem;
        height: 8rem;
    }
    
    
    
    .btn{

        position: absolute;
        bottom: 2rem;
        right: 5rem;

        a{
            color: white!important;
            font-size: initial;
        }
    }
}
input{
    background:white;
    outline: none;
    border: dashed grey 2px;
}


#edit-btn {
    text-align: center;
    background-color: #087ceb;
    padding: 0.3rem 1rem;
    color: white;
    margin: auto;
    outline: none;
    border: none;
    width: 15rem;
    font-size: 1.6em;
    font-weight: bold;
}


@media screen and(max-width:300px){
    .banner{
        height: 20vh;
    }
    h5{
        opacity: 0;
    }
    html{
        font-size: 24%;
    }
    footer img{
        width: 50px;
    }
}
@media screen and(min-width:300px) and(max-width:768px){
    h5{
        opacity: 0;
    }
    html{
        font-size: clamp(23.5%,35%,43.5%);
    }
    footer img{
        width: 50px;
    }
}
@media screen and(min-width:768px) and (max-width:1000px){
    html{
        font-size: clamp(45%,62%,62.5%);
    }
    .banner h2{
        font-size: 1.6em;
    }
    .banner h4{
        font-size: 1.1em;
    }
    .banner h5{
        font-size: .9em;
    }
}