*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
     font-size: 62.5%;
}
header{


    > section{
        justify-content: space-between;
    }

    span{
        font-family: 'Arial Black';
        color: #087ceb;
    }
    span:nth-child(1){
        font-family: 'Arial Black';
        font-weight: normal;
        color:black;
    }

}
//les différentes icones qui concernent la barre
.user-icons{
    position: relative;
    font-size: 2.5rem;
    width: 20rem;
    justify-content: space-between;
    >a,figure{
        display: block;
    }


    figure{
        position: relative;
        font-size: 1.5rem;
        img{
            width: 2.4em;
            height: 3.1em;
            
        }
    
        :nth-child(2){
            position: absolute;
            width: .7em;
            height: .7em;
            border-radius: 50%;
            top: .7em;
            right: .2em;
            background-color: #087ceb;
            span{
                color: white;
                font-weight: bolder;
                font-family: 'Arial Black';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: .5em;
            }
        }
    }
    
}
